
@{
    ViewBag.Title = "Error";
}

<style>
    .jumbotron{
        border-color: black;
        border-width: thin;
        border-style: solid;
        border-radius: 10px;
        
    }
</style>

<h2>Error</h2>
<div class="jumbotron">

    <h1>   An Error occured. Please try your last activity again!</h1>

    <br />
    <p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>
</div>


